@font-face {
    font-family: jedi;
    src: url('../fonts/Starjedi.ttf');
}

@media screen and (max-width: 600px) {
    .details{margin: 2px}
    .table-div{padding: 0}
}

.header {
    background-color: #e22929f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9; 
    padding: 10px 10px 14px 10px;
}

.block1 {
    width: 15%;
    float: left;
} 
.block2 {
    width: 70%;
    float: left;
} 
.block3 {
    width: 15%;
    float: left;
} 

.block2>p {
    color: #0f0f0f;
    margin:auto;
    font-size: 38px;
    font-weight: 600;
    font-family: jedi;
    text-align: center;
}

.vader-logo {
    width: 44px;
    height: 44px;
    padding: 10px;
}

html {
    height: 100%;
}

body {
    background-image: url('../assets/stars-bg3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
    margin: 0;
    min-height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.text {
    flex: 1;
    padding: 16px;
    background: #222222b0;
    text-align: center;
}
.text>p {
    color: #e0b53c;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 450;
}

.container {
    flex-direction: column;
}

.table-div {
    flex: 1;
    padding: 60px 120px 60px 120px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: #000000bd;
}

thead {
    background:#104206cc;
    color: #000;
}

th, td{
    color: #fffefe;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #4949499d;
}

tbody>tr:hover {
    background-color: #ffef5d1c;
    cursor: pointer;
}

.details {
    flex: 1;
    background: #000000c4;
    text-align: left;
    margin: 40px 120px 20px 120px;
    border: 1px solid #dddddd9a;
    border-radius: 8px;
    color: #fff;
    padding: 0 90px 20px 90px;
}

.title {
    text-align: center;
    font-size: 34px;
    background: #ebbd26f1;
    color: #000;
    font-family: jedi;
    padding: 14px;
    border: 1px solid #1313139a;
    border-radius: 8px;
}

.content-head {
    text-align: left;
    font-size: 19px;
    font-family: jedi;
    padding: 6px;
    margin-bottom: 4px;
}

.content-body {
    text-align: left;
    font-size: 17px;
}

.btn {
    text-align: center;
    background: #104206cc;
    font-size: 16px;
    border: 1px solid #d3d3d300;
    border-radius: 8px;
    color: #ffffff;
    font-weight: 500;
    padding: 8px 26px 8px 26px;
    cursor: pointer;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}
.btn:hover {
    background: #ebbd26f1;
    transition: 0.4s;
}

footer {
    background-color: #0e0c0cf5;
    padding: 30px;
    text-align: center;
}

footer>p {
    color: #fff;
    margin: 5px;
    font-size: 16px;
    font-weight:500;
}